doctype html
html
    head
        style html, body {margin: 0 !important; padding: 0 !important;}
        title smk
    body
        canvas(id='canvas' oncontextmenu="event.preventDefault()") loading...

        script.
            window.Module = {
                canvas: document.getElementById('canvas'),
                print: console.log,
                printErr: console.error,
            };



    script( async src="chess_wasm.js")
